<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.exclr8.n1corporate">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.exclr8.n1corporate.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_home_green_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Activities.DashboardActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBz4VoRoZ-lxVORZdtPQa-0hFmD-QtNPkM" />

        <activity
            android:name=".Activities.OfflineActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activities.LoadingActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
<!--        <activity-->
<!--            android:name=".Activities.HomeActivity"-->
<!--            android:screenOrientation="portrait"-->
<!--            tools:ignore="LockedOrientationActivity" />-->
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.OutdateActivity" />
    </application>

</manifest>